.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.criminal--card {
    background: rgb(233, 232, 232);
    flex-basis: 18%;
    align: center;
    margin: 5px;
}

.criminal--info {
    padding: 0px 10px 0px 10px;
}

.criminalFullName {
    padding: 5px 0px 0px 10px;
}

header {
    font-weight: bold;
}

.criminalDialogButton {
    width: 100%;
    border: none;
    background-color:  rgb(144, 196, 190);
    padding: 3%;
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 15px;
}
